@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["title"] = "Register";
    Layout = null;
}
@model Register;
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Register</title>

    <!-- Custom fonts for this template-->
    <link href="~/Admin/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="~/Admin/css/sb-admin-2.min.css" rel="stylesheet">
    <link href="~/Admin/css/custom.css"rel="stylesheet">

</head>

<body class="bg-custom-primary">

    <div class="container">

        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col-lg-5 d-none d-flex align-items-center bg-register-image">
                        <img src="/Img/Online gallery-amico.png" alt="Alternate Text" class="img-fluid" />
                    </div>
                    <div class="col-lg-7">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
                            </div>
                            <form method="post" class="user">
                                <div class="form-group row">
                                    <div class="form-check col-sm-4 mb-3 mb-sm-0">
                                        <input type="radio" id="customer" asp-for="Role" value="customer" checked/>
                                        <label for="customer">Customer</label><br />
                                    </div>
                                    <div class="form-check col-sm-4 mb-3 mb-sm-0 ml-3">
                                        <input type="radio" id="artist" asp-for="Role" value="artist" />
                                        <label for="artist">Artist</label>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input type="text" class="form-control form-control-user"
                                           placeholder="Enter username" asp-for="UserName">
                                        <span asp-validation-for="UserName" class="text-danger"></span>
                                    </div>
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input type="password" class="form-control form-control-user"
                                           placeholder="Enter password" asp-for="Password" required>
                                        <span asp-validation-for="Password" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0 for-artist">
                                        <input type="text" class="form-control form-control-user"
                                               placeholder="Enter full name" asp-for="ArtistName">
                                    </div>
                                    <div class="col-sm-6 mb-3 mb-sm-0 for-customer">
                                        <input type="text" class="form-control form-control-user"
                                               placeholder="Enter full name" asp-for="FullName">
                                    </div>
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input type="text" class="form-control form-control-user"
                                               placeholder="Enter email" asp-for="Email">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <input type="text" class="form-control form-control-user"
                                           placeholder="Enter phone number" asp-for="PhoneNumber">
                                </div>

                                <div class="form-group for-artist">
                                    <input type="text" class="form-control form-control-user"
                                            placeholder="Enter nationality" asp-for="Nationality">
                                </div>
                                <div class="form-group for-artist">
                                    <input type="text" class="form-control form-control-user"
                                            placeholder="Enter website" asp-for="Website">
                                </div>
                                <div class="form-group for-customer">
                                    <input type="text" class="form-control form-control-user"
                                           placeholder="Enter address" asp-for="Address">
                                </div>
                                <div class="form-group for-artist">
                                    <input type="text" class="form-control form-control-user"
                                           placeholder="Enter biography" asp-for="Biography">
                                </div>
                                
                                <button class="btn btn-custom-primary btn-user btn-block" type="submit">
                                    Register Account
                                </button>
                            </form>
                            <hr>
                            <div class="text-center">
                                <a class="small text-custom-primary" asp-action="Login">Already have an account? Login!</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    @section Scripts {
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
    }
    <script>
        document.querySelectorAll('input[name="Role"]').forEach((elem) => {
            elem.addEventListener("change", function (event) {
                var userType = event.target.value;
                document.querySelectorAll('.for-artist').forEach((element) => {
                    element.style.display = userType === 'artist' ? 'block' : 'none';
                });
                document.querySelectorAll('.for-customer').forEach((element) => {
                    element.style.display = userType === 'customer' ? 'block' : 'none';
                });
            });
        });

        // Trigger change event on page load to set the initial state
        document.querySelector('input[name="Role"]:checked').dispatchEvent(new Event('change'));
    </script>
    <!-- Bootstrap core JavaScript-->
    <script src="~/Admin/vendor/jquery/jquery.min.js"></script>
    <script src="~/Admin/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="~/Admin/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="~/Admin/js/sb-admin-2.min.js"></script>
    
</body>

</html>