.owl-carousel .owl-item img {
    border-radius: 10px;
    opacity: 0.5;
    transition: opacity 0.3s ease;
}

.carousel-item img {
    width: 100%;
    height: 500px; /* Set a fixed height for the carousel images */
    object-fit: cover; /* Ensure the image covers the container without distortion */
}

.carousel-caption {
    bottom: 20px; /* Position the caption slightly above the bottom of the image */
}

.owl-carousel .owl-item.active.center img {
    opacity: 1;
}

.owl-carousel .item img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.image-custom {
    max-width: 100%;
    height: 300px;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.banner-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.banner-title {
    font-size: 2rem;
    margin-bottom: 20px;
}

.owl-carousel .item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
}

.owl-carousel .item img {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
}

.welcome-banner {
    height: 500px; 
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #007bff;
    color: white;
    text-align: center;
}

    .welcome-banner h1 {
        font-size: 3rem;
    }

.header-section {
    text-align: center;
    margin: 50px 0; /* Adjust margins as needed */
}

    .header-section h1 {
        font-size: 3rem; /* Adjust font size as needed */
        font-weight: bold;
        color: #333;
    }

    .header-section p {
        font-size: 1.25rem;
        color: #666;