@{
    Layout = null;
}
<div class="container">
    <h1>403 Forbidden</h1>
    <p>Sorry, you don't have permission to access this page.</p>
    <p>If you believe this is an error, please contact the website administrator.</p>
    <p><a href="/">Go to Homepage</a></p>
</div>